<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.DataMySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.DataMySqlClient"
       description=".NET Framework Data Provider for MySqlClient"
    </DbProviderFactories>
  </system.data>  
</configuration>