<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.DataMySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.DataMySqlClient"
       description=".NET Framework Data Provider for MySQL"
       type="MySql.Data.MySqlAlmacen.MySqlClientFactory, MySql.Data, Version=6.9.9.0,
       Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="JOMV"
         connectionString="Server=localhost;Port=3306;Database=tienda_2parcial;Uid=root;Pwd='MyNewPass';
         charset=utf8;" providerName="MySql.Data.MySqlAlmacen" />
  </connectionStrings>
</configuration>